{% extends 'base.html.twig' %}

{# {% block title %}Campaign{% endblock %} #}

{% block body %}
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">

                <h1 class="header center white-text light"> {{ campaign.title }} </h1>
                <div class="row center">
                    <h5 class="header col s12 light">- Organisée par : {{ campaign.name }} -</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{asset('assets/images/8.jpg')}}" alt="Titre de la campagne"></div>
    </div>

    <!-- Show progress -->
    <section class="progress-section">
        <div class="progress">
            <div class="determinate blue" style="width:{{ pourcentage }}%"><span> {{ pourcentage }} % de l'objectif</span></div>
        </div>
    </section>

    <div class="container participe">
        <div class="section">
            {% if campaign.goal == totalPayment %}
                <div class="row">
                    <div class="card col s12 m12 l8 offset-l2 grey">
                        <div class="card-content card-congratulations">
                            <h4 class="white-text lighten-1 text-congratulations">Montant de la cagnote atteinte, Félicitation !</h4>
                        </div>
                    </div>
                    </div>
            {% else %}
            <div class="row">
                <div class="col s12 offset-m2 offset-l3">
                    <a href="{{ path('payment_new', {'id' : campaign.id}) }}" class="btn-large waves-effect waves-light red col s12 m8 l6">Participer</a>
                </div>
            </div>
            {% endif %}
        </div>
                    
        <div class="row">
            <div class="col s12 center">
                <h4>A propos de la campagne</h4>
            </div>
        </div>
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6 l3 offset-l3">
                <div class="icon-block center">
                    <div class="btn-large btn-floating white"><i class="material-icons blue-text">person</i></div>
                    <h3 class="center"> {{ countParticipant }} </h3>
                    <p class="light">Participants</p>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="icon-block center">
                    <div class="btn-large btn-floating white"><i class="material-icons blue-text">redeem</i></div>
                    <h3 class="center"> {{ totalPayment }} </h3>
                    <p class="light">euros récoltés</p>
                </div>
            </div>
        </div>
        <!-- Form section -->
        <div class="row">
            <form>
                <div class="input-field col s12">
                    <label for="description">Description</label>
                    <textarea id="description" class="materialize-textarea" readonly="readonly">{{ campaign.content }}</textarea>
                </div>
                <div class="input-field col s12 l6">
                    <input id="goal" type="number" readonly="readonly" value="{{campaign.goal}}">
                    <label for="goal">Objectif</label>
                </div>
                <div class="col s12 l6 offset-l3">
                    <a class="btn btn-large waves-effect waves-light blue col s12" href="{{ path('campaign_edit', {'id': campaign.id}) }}">
                        Modifiez la campagne
                        <i class="material-icons right">edit</i>
                    </a>
                </div>
            </form>
        </div>
        <!-- List -->
        <div class="row">
            <div class="col s12 center">
                <h4>Liste des participants</h4>
            </div>
            <div class="col s12">
                <table class="highlight responsive-table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Participation</th>
                    </tr>
                    </thead>

                    <tbody>
                        {% for payment in payments %}
                            {% if payment.getIsAnonymous == 0 %}
                                <tr>
                                    <td> {{ payment.participant.name }} </td>
                                    <td> {{ payment.participant.email }} </td>
                                    <td> {{ payment.amount }} </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td> Anonyme </td>
                                    <td>  </td>
                                    <td> {{ payment.amount }} </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
